@import "reset";
@import "var";

#advice-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background: $DarkGrayishBlue;
    padding: 2rem;
    width: 35rem;
    margin: 0 auto;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) !important;
}

p
{
    color: $NeonGreen;
    text-transform: uppercase;
    font-weight: 200;
}

h1
{
    text-align: center;
}

#devider
{
    transform: translateY(2rem);
}

#generatorBtn
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $NeonGreen;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transform: translateY(3.88rem);
}

#generatorBtn:hover
{
    box-shadow: 0 0 30px 5px $NeonGreen;
}

@media screen and (max-width: 850px) {

   #advice-container {
    width: 19rem !important;
    margin-left: auto;
    margin-right: auto;
    transform: translateX(-10rem) translateY(-8rem) !important;
   }

   h1
   {
       font-size: 1.6rem;
   }
}
